header {
    width: 99%;
    border: 0.5vw solid black
}

header h1 {
    text-align: center;
}

body {
    font-family: "Lato", sans-serif;
}

nav {
    width: 40%;
    display: flex;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

main {
    position: absolute;
    width: 98.6%;
    height: 252%;
    border: 0.2vw solid black;
}

#artist {
    float: left;
    z-index: -1;
    border: 0.2vw solid black;
    width: 30vw;
    height: 50vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 48.5px;
    text-align: center;
}

#album {
    float: left;
    border: 0.2vw solid black;
    width: 30vw;
    height: 50vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 48.5px;
    text-align: center;
}

#image {
    position: relative;
    width: 200px;
    height: 280px;
    margin-top: 10px;
}

#login {
    float: left;
    border: 0.2vw solid black;
    width: 30vw;
    height: 50vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

#song {
    float: left;
    border: 0.2vw solid black;
    width: 97.1vw;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-left: 0px;
    text-align: center;
}

#cover {
    float: left;
    border: 0.2vw solid black;
    width: 97.1vw;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-left: 0px;
    text-align: center;
}
footer {
    position: absolute;
    border: 0.5px dashed black;
    bottom: -86.5rem;
    margin-left: 5px;
    color: gray;
}