header {
    width: 99%;
    border: 0.5vw solid black;
}

header h1 {
    text-align: center;
}

body {
    font-family: "Lato", sans-serif;
}

nav {
    width: 40%;
    display: flex;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

#other {
    float: left;
    border: 0.2vw solid black;
    width: 97vw;
    height: 53vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

#plus {
    float: left;
    border: 0.2vw solid black;
    width: 97vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.thumbnail{
    background-color:gray;
    margin:10px;
    width:100px;
    height:100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .thumbnail.round{
    border-radius: 10%;
  }
  
  .thumbnail.circle{
    border-radius: 100%;
  }